services:
  php-cli:
    build:
      context: ./docker/php-cli
      args:
        UID: ${UID:-1000}
        GID: ${GID:-1000}
    volumes:
      - .:/var/www/html
    working_dir: /var/www/html
    env_file:
      - .env
      - path: .env.local
        required: false
    environment:
      - COMPOSER_CACHE_DIR=/tmp/composer/cache
    networks:
      - rarus-echo-network

networks:
  rarus-echo-network:
    driver: bridge
